#spm div {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    position: relative;
    width: 1350px;
}

#spm svg {
    font: 10px sans-serif;
    width: 1350px;
    padding: 15px;
}

#spm .axis,
#spm .frame {
    shape-rendering: crispEdges;
}

#spm .axis line {
    stroke: #ddd;
}

#spm .axis path {
    display: none;
}

#spm .cell text {
    font-weight: bold;
    text-transform: capitalize;
    fill: black;
}

#spm .frame {
    fill: none;
    stroke: #aaa;
}

#spm  circle {
    fill-opacity: .30;
    stroke: #000;
    stroke-opacity: .05;
    stroke-width: .025%;
}

#spm circle.hidden {
    fill: #ccc !important;
}

#spm rect {
    fill-opacity: .60;
}

#spm .extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}
